# Ignore Python virtual environments
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.DS_Store

# Ignore Conda environment
.env
environment.yml

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
*.log
*.sqlite3

# Ignore data files
data/*.csv
data/*.json
data/*.xlsx
data/*.parquet
data/*.zip

# Ignore Streamlit and Flask app cache
app/__pycache__/
app/static/
app/templates/
